@import './variables.scss';

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html {
  font-size: $font-size-base;
  scroll-behavior: smooth;
}

body {
  font-family: $font-family-base;
  color: $text-color;
  background-color: white;
  line-height: 1.5;
  overflow-x: hidden;

  direction: rtl;
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: 10px;
  height: 1000px;

}

.page-wrapper {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  gap: 10px;
  position: relative;
}

.page-content {
  width: 100%;
  text-align: center;

}

img {
  max-width: 100%;
  display: block;
}

a {
  text-decoration: none;
  color: inherit;
}

button {
  cursor: pointer;
  font-family: inherit;
  border: none;
  background-color: $green-medium;
  border-radius: $radius-sm;
  padding: $space-sm;
  margin: $space-sm;
  font-size: $font-size-xs;
  color: white;
  font-weight: bold;

  &:disabled {
    background-color: $gray-medium;
    cursor: not-allowed;
    opacity: 0.6;
  }

  &:hover {
    background-color: darken($green-medium, 10%);
  }

  &.button--danger {
    background-color: $red-error;

    &:hover {
      background-color: darken($red-error, 10%);
    }
  }

  &.button--warning {
    background-color: $blue-muted;
    color: white;

    &:hover {
      background-color: darken($blue-muted, 15%);
    }
  }
}


input,
select,
textarea {
  font-family: inherit;
  font-size: inherit;
}

.container {
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 0 auto;
  padding: 0 $space-md;
  border: 1px solid $gray-light;
}

.responsive-padding {
  padding: $space-xs;

  @media (min-width: $breakpoint-tablet) {
    padding: $space-md;
  }

  @media (min-width: $breakpoint-desktop) {
    padding: $space-lg;
  }
}