.modal-backdrop {
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background-color: rgba(0, 0, 0, 0.5);
  @include flex-center;
  z-index: 1100;
}

.modal {
  background-color: white;
  border-radius: $radius-md;
  max-width: 90%;
  width: 500px;
  padding: $space-lg;
  position: relative;
  box-shadow: 0 8px 24px rgba(0, 0, 0, 0.2);
  display: flex;
  flex-direction: column;
  text-align: center;

  h2 {
    padding-bottom: $space-md;
  }

  @include respond-to(mobile) {
    padding: $space-md;
    width: 90%;
    font-size: $font-size-xs;
    padding: 4px;

    input {
      padding: 2px;
    }
  }

  .modal-header {
    font-size: $font-size-lg;
    font-weight: bold;
    margin-bottom: $space-md;
  }

  .modal-body {
    margin-bottom: $space-md;
    font-size: $font-size-base;
  }

  .close-button {
    position: absolute;
    top: $space-sm;
    left: $space-sm;
    background: none;
    border: none;
    font-size: 20px;
    color: $text-color;
    cursor: pointer;

    &:hover {
      color: $red-error;
    }
  }
}