.notification-modal {
  position: fixed;
  top: 60px;
  right: 20px;
  background-color: #4caf50;
  color: white;
  padding: 10px 20px;
  border-radius: 8px;
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.2);
  animation: fadein 0.5s, fadeout 0.5s 2.5s;
  z-index: 1000;
}

.error {
  background-color: $red-error;
  top: calc(50% - 75px);
  right: calc(50% - 40px);
  width: 200px;
  height: 80px;
  text-align: center;
}

@keyframes fadein {
  from {
    opacity: 0;
  }

  to {
    opacity: 1;
  }
}

@keyframes fadeout {
  from {
    opacity: 1;
  }

  to {
    opacity: 0;
  }
}
